*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;
	min-height: 100vh;
  
}

#logo{

	padding: 20px;
	width: 120px;
	transform: translate(70px, 20px);
}

#title {
	font-family: 'Comfortaa', cursive;
	font-size: 55px;
	color: rgb(246, 130, 35);
	transform: translate(450px,-100px);
}

#subtitle {
	color: white;
	font-family: 'Comfortaa', cursive;
	transform: translate(600px,-100px);
}

#ab{
	color: peachpuff;
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	transform: translate(560px,40px);
	font-weight: bolder;

}
.t{
	color: peachpuff;
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	transform: translate(33px,150px);
	
}
#roti{
	width: 30%;
    height: 500px;
    transform: translate(40px,200px);
}

.rot{
	color: peachpuff;
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	transform: translate(500px,-80px);}

	#poo{
	width: 30%;
    height: 300px;
    transform: translate(40px,200px);
}

.poo1{
	color: peachpuff;
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	transform: translate(500px,-80px);}

.tips{
	color: peachpuff;
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	transform: translate(10px,300px);
}




